<% if user_signed_in? %>
  <p>Your email is: <%= current_user.email %></p>
  <p><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
<% else %>
  <p><%= link_to "Sign up", new_user_registration_path %></p>
<% end %>